body {
    margin:0;
    padding:0;
    background: url(Call-of-Duty-Black-Ops-4.jpg) no-repeat center fixed;
    -webkit-backdround-size: cover;
    background-size : cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    padding-left: 85px;  
}
.Titre {
    font-size :105px;
    text-align : center; 
}